ul{list-style: none;}

body{
    margin-left: auto;
    margin-right: auto;
    background-color: #CCCCCC;
    width: 600px;
}


#profilePhoto{
    float: left;
    box-shadow: 10px 10px 5px #888888;
    border: 4px solid white;
    border-radius: 8px
}

#profileName{
    display: inline;
    margin: 5px;
    float: right;
    clear: all;
    background-color: #20B2AA;
    border: 4px solid white;
    border-radius: 5px;
    padding: 15px;
    font-size: 36px;
    width: 50%;
    font-family: "Impact";
    
}

#profileContent{
    display: block;
    margin: 5px;
    float: right;
    height: 400px;
    background-color: #20B2AA;
    border: 4px solid white;
    border-radius: 5px;
    padding: 15px 15px 0px 0px;
    font-size: 18px;
    width: 50%;
    font-family: "Century Gothic";
}


#time{
    width: 50%;
    float: right;
    padding: 5px;
    display: block;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    border: 4px solid white;
    background-color: #20B2AA;
    font-family: "Century Gothic";
}

#spacer{
    height: 50px;
    width: 50%;
    float: right;
    display: inline;
    background-color: transparent;
}