{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div id="page">
    <div id = "profilePhoto">
      <img src = "http://icons.iconarchive.com/icons/iconshock/super-vista-general/256/administrator-icon.png"></img>
    </div>
    <div id = "profileName">Jason Swaby</div>
    <div id = "spacer"></div>
    <div id = "time">Today is: Current Time</div>
    <div id = "profileContent">
      <ul>
        <li>Username: NitrousSuperUser</li>
        <li>ID: 620064203</li>
        <li>Sex: Male</li>
        <li>Age: 3</li>
        <li>Highest Score: 10,905</li>
        <li>TDollars: T$25,000</li>
      </ul>
    </div>
</div>

{% endblock %}
